[Unit]
Description=Temp Setvice
After=multi-user.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/raccoon/temp-service
ExecStart=/home/raccoon/temp-service/run.sh

StandardOutput=append:/var/log/temp-service.log
StandardError=append:/var/log/temp-service.log

[Install]
WantedBy=multi-user.target